:root {
  --yellow: #FFCC29;
  --blue  : #1D539E;
  --gray  : #828799;
  --white : #F9FBFC;
  --black : #000000;

  --page-background: var(--white);
}

* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

body {
  background-color: var(--page-background);
  color           : var(--gray)
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
}

[disable] {
  opacity: 0.6;
  cursor : not-allowed;
}

a {
  text-decoration: none;
  color          : inherit;
}