.container {
  max-height: 100vh;

  .planos {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 1rem;
    transform            : translateY(-40%);

    max-width : 1080px;
    margin    : 0 auto;
    margin-top: 2rem;

    .card {}
  }
}